﻿@model tpco_cargaEmpresas_Sura.ViewModel.ViewModelEmpresas
@{
    ViewBag.Title = "Index";
}


<div id="divMain">
    <img src="~/Images/ArlImagen.png" />
    <div id="headerTable">
        <br />
        <div id="headerTableLeft">CARGA EMPRESAS SST</div>
    </div>
    <br />

</div>
<div id="divMain2">

    <div class="input-group">
        
       <br />
        
        <div class="custom-file">
            <input type="file" class="custom-file-input-form" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" onchange="changeFilename(this)" name="LoadFile" accept=".xlsx, .XLSX" title="Elige un archivo para subir" required>
            <label id="lblfileName" class="custom-file-label" for="inputGroupFile01">Seleccione el archivo...</label>
        </div>
        <br />
        <p class="msj-validation"></p>
        <div class="col-md-12 text-center">
            <button type="button" id="btnload" class="buttonsApp" onclick="Load()">Cargar</button>            
            <button type="button" id="btndownloadstructure" class="buttonsApp" onclick="downloadStructure()">Estructura</button>
        </div>
    </div>      
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>


        function Load() {
            var xhr = new XMLHttpRequest();
            var formdata = buildRequest();
            console.log("va");
            console.log(formdata);

             xhr.open('POST', '@Url.Action("LoadFile", "AdmonEmpresas")');
                xhr.onload = function (oEvent) {
                var json = JSON.parse(oEvent.srcElement.response);
                if (json.code=="-1") {
                    swal({ title: 'Error', text: json.message, timer: 7500, type: 'error', showConfirmButton: true });
                } else {
                    swal({ title: 'Exito', text: json.message, timer: 7500, type: 'success', showConfirmButton: true });
                }
                resetForm();
                };
                xhr.send(formdata);
        }


        function changeFilename(field) {
            if (field.value !== "") {
                document.getElementById('lblfileName').innerHTML = field.value.split('\\').pop();

                var extension = field.files[0].name.split('.').pop();

                if (extension.toLowerCase() !== "xlsx") {
                    $('.msj-validation').css('display', 'block');
                    $('.msj-validation').html("<font color='red'>El archivo debe ser de extensión xlsx</font>");
                    document.forms.form.reset();
                    document.getElementById('lblfileName').innerHTML = 'Elija el archivo...';
                    $("#inputGroupFile01").attr("title", "Elige un archivo para subir");
                } else {
                    if (field.files[0].size == 0) {
                        $('.msj-validation').css('display', 'block');
                        $('.msj-validation').html("<font color='red'>El archivo esta vacio</font>");
                        document.forms.form.reset();
                        document.getElementById('lblfileName').innerHTML = 'Elija el archivo...';
                        $("#inputGroupFile01").attr("title", "Elige un archivo para subir");
                    } else {
                        $('.msj-validation').css('display', 'none');
                        $("#inputGroupFile01").attr("title", field.value.split('\\').pop());
                    }
                }
            } else {
                reset();
                $("#inputGroupFile01").attr("title", "Elige un archivo para subir");
            }
        }

        function downloadStructure()
        {
            jsShowWindowLoad("Por avor espere...");
            event.preventDefault();
             $.ajax({
                type: "POST",
                url: '@Url.Action("DownloadStructure", "AdmonEmpresas")',
                 success: function (res) {
                     $('.loader').addClass('d-none');
                     jsRemoveWindowLoad();
                     var bytes = new Uint8Array(res.FileContents);
                     var blob = new Blob([bytes], { tipo: "application / vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                     var link = document.createElement("a");
                     link.href = window.URL.createObjectURL(blob);
                     link.download = "EstructuraEmpresas.xlsx";
                     link.click();
                 }
            })

        }

        function jsRemoveWindowLoad() {

            $("#WindowLoad").remove();

        }


        function jsShowWindowLoad(mensaje) {
            jsRemoveWindowLoad();

            if (mensaje === undefined) mensaje = "Procesando la información&amp;lt;br&amp;gt;Espere por favor";

            height = 20;
            var ancho = 0;
            var alto = 0;

            if (window.innerWidth == undefined) ancho = window.screen.width;
            else ancho = window.innerWidth;
            if (window.innerHeight == undefined) alto = window.screen.height;
            else alto = window.innerHeight;

            var heightdivsito = alto / 2 - parseInt(height) / 2;

            imgCentro = "<div style='text-align:center;height:" + alto + "px;'><div  style='color:#000;margin-top:" + heightdivsito + "px; font-size:20px;font-weight:bold'> <div class='loader justify - content - center mt - 3' style='position: absolute; top: 200px; left: 0; right: 20px; width: 20px; height: 20px'></div><label for='exampleInputEmail1' class='text - primary' style='font - size: 20px; font - family: Calibri Light'> Por favor espere .... </label></div></div>";

            div = document.createElement("div");
            div.id = "WindowLoad"
            div.style.width = ancho + "px";
            div.style.height = alto + "px";
            $("body").append(div);

            input = document.createElement("input");
            input.id = "focusInput";
            input.type = "text"

            $("#WindowLoad").append(input);

            $("#focusInput").focus();
            $("#focusInput").hide();

            $("#WindowLoad").html(imgCentro);

        }


    </script>
    <script type="text/javascript" src="~/Scripts/filemanager.js"></script>
    <script src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
}



