﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="../libs/sweetalert2-7.0.5/sweetalert2.js"></script>
    <link href="../libs/sweetalert2-7.0.5/sweetalert2.css" rel="stylesheet" />
    <link href="../libs/toastr-2.1.3/build/toastr.css" rel="stylesheet" />
    <script src="../libs/toastr-2.1.3/toastr.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
