﻿body {
}

#divMain {
    display: block;
    text-align: center;
    margin: auto;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #a5a5a5 0%, #a5a5a5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%);
    border-image-slice: 1;
}



#divMain2 {
    display: block;
    text-align: center;
    margin: auto;
    border: 1px solid transparent;
    /*-moz-border-image: -moz-linear-gradient(top, #a5a5a5 0%, #a5a5a5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom, #67a1cf 0%, #67a1cf 100%);
    border-image-slice: 1;
    border-radius:25px;*/
    border-radius: 40px;
    border-width: 18px;
    border-style: solid;
    border-color: #7AC141;
    width: 900px;
}

#headerTable {
    background: #FFFFFF;
    height: 80px;
    vertical-align: middle;
    margin-bottom: 20px;
    /*border-radius: 25px;       
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #67a1cf 0%, #67a1cf 100%);
    border-image-slice: 1;*/
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #7AC141;
    width: 900px;
    margin: auto;
    /*border-radius: 15px !important;
    border-top-left-radius: 10px 5px; 
            border-bottom-right-radius: 10% 5%; 
            border-top-right-radius: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;*/
}


#headerTableLeft {
    display: inline-flex;
    width: 65%;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    height: 100px;
    justify-content: center;
    vertical-align: middle;
    font-weight: bold;
}

#headerTableRight {
    display: inline-flex;
    width: 20%;
}

#Image1 {
    height: 80px;
}



.buttonsApp {
    background-color: #a5a5a5;
    border: none;
    color: black;
    padding: 3px 15px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
}

#tbl-cases {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.icon-loading {
    margin-left: -12px;
    margin-right: 8px;
    display: none;
}

.buttonsApp:hover {
    opacity: 1;
}

.fontApp {
    font-family: sans-serif;
    font-variant: all-small-caps;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    border-bottom-width: 50px;
    border-left-width: 2000px;
}

.btndata {
    font-family: sans-serif;
    font-variant: all-small-caps;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 20px;
    text-align-last: center;
    margin-bottom: 1px;
}

.btn_info {
    margin-top: 10px;
    margin-bottom: 2px;
    height: 20px;
    text-align: center;
}

.btndata2 {
    margin-top: 10px;
    margin-bottom: 1px;
    height: 23px;
    width: 200px;
}


.fieldForm {
    width: 100%;
    padding: 1px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
    margin: 0em;
    font: 400 13.3333px Arial;
    margin-bottom: 1px;
}

.fieldcustomcodephone {
    width: 25% !important;
    margin: 41px -60px 0px 0px !important;
    padding: 0px 5px !important;
}

.fieldcustomphone {
    margin: 0px 0px 0px -140px !important;
}

.labelcustom {
    margin: 0px 232px 20px -70px !important;
}

.toast-top-center {
    top: 50% !important;
}

.rowField {
    font-family: sans-serif;
    font-variant: all-small-caps;
    font-weight: bold;
    margin: 10px;
    text-align: right;
}

.rowFieldR {
    text-align: left;
}
